h1,
#game-state,
#spot-taken {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: max-content;
  gap: 2px;
  .cell {
    height: 100px;
    width: 100px;
    outline: 2px solid #000;
  }
}

#spot-taken {
  display: none;
}

.rename-btns-wrap {
  width: max-content;
  margin: 10px auto;
}
.rename-btn {
  border: 1px solid #000;
}