:root {
  --bg: rgb(56, 56, 56);
  --text: rgb(255, 255, 255);
}

body {
  background-color: var(--bg);
  color: var(--text);
  padding: 40px;
  font-family: "Jersey 10", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* X & O icons */
#game-state:is(.mark-X, .mark-O):before,
#board .cell:after {
  content: "";
  aspect-ratio: 1 / 1;
  image-rendering: pixelated; /* nearest neighbour scaling */
}
#game-state.mark-X:before,
#board .cell.mark-X:after {
  background: url(../img/x.png) no-repeat center/cover;
}
#game-state.mark-O:before,
#board .cell.mark-O:after {
  background: url(../img/o.png) no-repeat center/cover;
}

h1,
#game-state {
  font-weight: 400;
  line-height: 1;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
#game-state {
  text-align: center;
  font-size: 4rem;
  /* X & O icons */
  &:before {
    display: inline-block;
    margin-right: 30px;
    height: 50px;
  }
}

#board {
  margin: 50px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 6px;
  overflow: hidden; /* hide outside border lines */
  aspect-ratio: 1 / 1;
  height: min(600px, calc(100vw - 80px));
  .cell {
    height: 100%;
    width: 100%;
    outline: 6px dashed var(--text);
    position: relative;
    /* X & O icons */
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100px;
      max-height: 60%;
    }
  }
}

.rename-btns-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.rename-btn {
  font-size: 1.5rem;
  border: 2px solid var(--text);
  padding: 0 10px;
}
#restart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  width: 200px;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 10px;
  border: 2px solid var(--text);
  border-radius: 5px;
  border-bottom-width: 10px;
  transition: all 100ms ease-in-out;
  &:hover,
  &:focus {
    /* button pressed effect */
    border-bottom-width: 2px;
    transform: translateY(8px);
  }
  &:active {
    color: var(--bg);
    background-color: var(--text);
  }
  /* arrow icon */
  svg {
    width: 24px;
    height: 24px;
  }
}

#spot-taken {
  position: absolute;
  right: 40px;
  left: auto;
  bottom: 40px;
  font-size: 2rem;
  border: 2px solid var(--text);
  color: inherit;
  padding: 20px 30px;
  border-radius: 10px;
  p {
    line-height: 1;
  }
}

/* animate dialog */
/* open state */
dialog[open] {
  opacity: 1;
}
/* closed state */
dialog {
  opacity: 0;
  transition:
    opacity 100ms ease-in-out,
    overlay 100ms ease-in-out allow-discrete,
    display 100ms ease-in-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}